<div class="footer-container">
    <div class="footer-box">
        <ul>
            <li (click)="scrollTo('quem-somos')">Quem Somos</li>
            <li (click)="scrollTo('servicos')">Serviços</li>
            <li (click)="scrollTo('galeria')">Galeria</li>
            <li (click)="scrollTo('contato')">Contato</li>
        </ul>
        <ul>
            <li><a href="https://www.instagram.com/ms3engenharia/">Instagram</a></li>
            <li><a href="https://web.whatsapp.com/send?phone=5561996680386">Whatsapp</a></li>
            <li><a href="mailto:ms3engenharia@gmail.com.br">E-mail</a></li>
        </ul>
        <ul>
            <li>(61)99668-0386</li>
            <li>(61)98378-2220</li>
            <li>ms3engenharia@gmail.com.br</li>
        </ul>
    </div>
</div>