<div class="quem-somos-container">
    <div class="quem-somos-boxes">
        <div class="quem-somos-img">
            
        </div>
        <div class="quem-somos-title">
            Quem Somos
        </div>
        <div class="quem-somos-empty-block"></div>
        <div class="quem-somos-p">
            Fundado por Matheus Souza e Mayra Costa, a MS3 Engenharia é especialista em projetos e execuções de obras, inspeções, vistorias e assistência técnica em edificações, prezando sempre pela excelência em todo o seu atendimento e serviço.
        </div>
    </div>

    
</div>
